{% extends 'index.html' %}

{% block stylesheets %}

{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5  col-md-3  main">
                <h4>Area1</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ip address</th>
                            <th>port</th>
                            <th>key</th>
                            <th>method</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>35.194.169.33</td>
                            <td>8388</td>
                            <td>hello</td>
                            <td>aes-256-cfb</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5 col-md-3 main">
                <h4>Area2</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ip address</th>
                            <th>port</th>
                            <th>key</th>
                            <th>method</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>35.194.169.33</td>
                            <td>8388</td>
                            <td>hello</td>
                            <td>aes-256-cfb</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5 col-md-3 main">
                <h4>Area3</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ip address</th>
                            <th>port</th>
                            <th>key</th>
                            <th>method</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>35.194.169.33</td>
                            <td>8388</td>
                            <td>hello</td>
                            <td>aes-256-cfb</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-5 col-md-3 main">
                <h4>Area4</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ip address</th>
                            <th>port</th>
                            <th>key</th>
                            <th>method</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>35.194.169.33</td>
                            <td>8388</td>
                            <td>hello</td>
                            <td>aes-256-cfb</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scritps %}

{% endblock %}

</html>
